<!DOCTYPE html>
<html class="ui-mobile">

  <head>
    <meta charset="UTF-8">
    <title>案例模板</title>
    <include file="Public/header" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/template.css" />
  </head>

  <body class="ui-mobile-viewport ui-overlay-a">
    <div data-role="page" id="page1" data-url="page1" tabindex="0" class="ui-page ui-page-theme-a ui-page-active">
      <header class="header1">
        <a href="javascript:history.go(-1);" class="a"><img src="__PUBLIC__/images/index/left_icon.png" alt=""></a>
        <p>案例模板</p>
      </header>
      <div data-role="content" class="ui-content" role="main">
        <ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="搜索产品名" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
          <li class="ui-li-has-thumb ui-first-child ui-last-child list-wrapper">
            <a href="http://frk.weisika.net" style="border-color:#ddd;padding:25px 50px 25px 10px;min-height:0px;color:#666;font-size:25px;" class="list-item ui-btn ui-btn-icon-right ui-icon-carat-r">
              <img src="__PUBLIC__/Home/images/template/frk.png" alt="" class="photo-show" />
              <div class="introduction">
                <span>福仁康生物科技有限公司</span>
                <!--<p>一个专业的药品销售公司，该模板适合xxxx，xxxx，xxxx等。</p>-->
              </div>
            </a>
          </li>
          <li class="ui-li-has-thumb ui-first-child ui-last-child list-wrapper">
            <a href="http://ydf.weisika.net" style="border-color:#ddd;padding:25px 50px 25px 10px;min-height:0px;color:#666;font-size:25px;" class="list-item ui-btn ui-btn-icon-right ui-icon-carat-r">
              <img src="__PUBLIC__/Home/images/template/ydf.png" alt="" class="photo-show" />
              <div class="introduction">
                <span>袁大夫微店</span>
                <!--<p>一个专业的糕点制作微店，该模板适合xxxx，xxxx，xxxx等。</p>-->
              </div>
            </a>
          </li>
          <li class="ui-li-has-thumb ui-first-child ui-last-child list-wrapper">
            <a href="http://ylkg.weisika.net" style="border-color:#ddd;padding:25px 50px 25px 10px;min-height:0px;color:#666;font-size:25px;" class="list-item ui-btn ui-btn-icon-right ui-icon-carat-r">
              <img src="__PUBLIC__/Home/images/template/ylkg.png" alt="" class="photo-show" />
              <div class="introduction">
                <span>雨丝燕有限公司</span>
                <!--<p>一个专业的化妆品销售公司，该模板适合xxxx，xxxx，xxxx等。</p>-->
              </div>
            </a>
          </li>
          <li class="ui-li-has-thumb ui-first-child ui-last-child list-wrapper">
            <a href="http://sw.weisika.net" style="border-color:#ddd;padding:25px 50px 25px 10px;min-height:0px;color:#666;font-size:25px;" class="list-item ui-btn ui-btn-icon-right ui-icon-carat-r">
              <img src="__PUBLIC__/Home/images/template/sw.png" alt="" class="photo-show" />
              <div class="introduction">
                <span>梦白有限公司</span>
                <!--<p>一个专业的洗衣用品公司，该模板适合xxxx，xxxx，xxxx等。</p>-->
              </div>
            </a>
          </li>
          <li class="ui-li-has-thumb ui-first-child ui-last-child list-wrapper">
            <a href="http://zdf.weisika.net" style="border-color:#ddd;padding:25px 50px 25px 10px;min-height:0px;color:#666;font-size:25px;" class="list-item ui-btn ui-btn-icon-right ui-icon-carat-r">
              <img src="__PUBLIC__/Home/images/template/zdf.png" alt="" class="photo-show" />
              <div class="introduction">
                <span>植大夫有限公司</span>
                <!--<p>一个专业的化妆品公司，该模板适合xxxx，xxxx，xxxx等。</p>-->
              </div>
            </a>
          </li>
          <li class="ui-li-has-thumb ui-first-child ui-last-child list-wrapper">
            <a href="http://aq.weisika.net" style="border-color:#ddd;padding:25px 50px 25px 10px;min-height:0px;color:#666;font-size:25px;" class="list-item ui-btn ui-btn-icon-right ui-icon-carat-r">
              <img src="__PUBLIC__/Home/images/template/aq.png" alt="" class="photo-show" />
              <div class="introduction">
                <span>安淇服饰</span>
                <!--<p>一个专业的服饰销售公司，该模板适合xxxx，xxxx，xxxx等。</p>-->
              </div>
            </a>
          </li>
          <li class="ui-li-has-thumb ui-first-child ui-last-child list-wrapper">
            <a href="http://ad.weisika.net" style="border-color:#ddd;padding:25px 50px 25px 10px;min-height:0px;color:#666;font-size:25px;" class="list-item ui-btn ui-btn-icon-right ui-icon-carat-r">
              <img src="__PUBLIC__/Home/images/template/ad.png" alt="" class="photo-show" />
              <div class="introduction">
                <span>安迪艾米国际贸易有限公司</span>
                <!--<p>一个专业的婴儿用品销售公司，该模板适合xxxx，xxxx，xxxx等。</p>-->
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>

</html>