/*
* @Author: jaxQin
* @Date:   2018-03-30 14:08:04
* @Last Modified by:   jaxQin
* @Last Modified time: 2018-03-30 14:34:05
*/

$red-border: red;  // 用于红色边框
$thame-color: #ff3836; //主题文字颜色----红
$thame-color-orange: #eb825e; // 主题文字颜色----橙
$thame-color-pink: #fecccf; // 主题文字颜色----粉
$thame-color-grey: #6d6d6d; // 主题文字颜色----灰

$thame-bgcolor-pink: #f7cad9; //深粉色背景

$slider-color:    red;  //首页中滑动导航滑块的颜色
$light-color: #80bd01;  //选中状态 高亮状态
$page-bg:     #f4f4f4;  //用于一个页面的背景色


$time:            .2s;  // 一般用于transition 的时间