
.section9 .test{width:494px;margin:0 auto;}
.section9 .test img{display:inline-block;vertical-align: -10px;}
.section9 .test p{color:#4abcf2;font-size:50px;margin-top:50px;}
.section9 .test label{font-size:26px;}
.section9 .test .input1{background:#f5f5f5;border-bottom:solid #d1d1d1 2px !important;
	display:inline-block;padding:30px 0;width:400px;font-size:26px;color:#8f8f8f;border-radius:0.1em;-webkit-appearance: none;outline:none;    margin-left: 37px;
	border-top:0px;border-right:0px;border-left: 0px;}
.section9 .test div{text-align: center;}
.section9 .test .input2{font-size:33px;width:100%;color:#fff;background:#4abcf2;height:70px;border-radius:0.2em;margin-top:44px;border:none;-webkit-appearance: none;outline:none;}

